<div class="gen-drop">
    <div class="dropzone" *ngIf="isEmptyDrop" appDragDrop (filesChangeEmiter)="dropExcelOnChance($event)"
      (filesInvalidEmiter)="dropExcelBlock($event)"
      [allowed_extensions]="['xlsx','xls',  'xlsm','xltx','xltm','xlsb','xlam']">
      <div class="text-wrapper">
        <div class="centered">DRAG & DROP</div>
        <div class="centered-sub">Excel format is suggested.</div>
      </div>
    </div>
    <div class="display-sheet-js" [hidden]="!(!isEmptyDrop && isExcelDrop)">
      <div class="example-container">
          <table cdk-table [dataSource]="excelDataEncodeToJson">
            <tr cdk-header-row *cdkHeaderRowDef="excelTransformNum; sticky: true"></tr>
            <tr cdk-row *cdkRowDef="let row ; columns: excelTransformNum;"></tr>
            <ng-container cdkColumnDef="order" sticky>
              <th cdk-header-cell *cdkHeaderCellDef> {{sheetMaxRow}} </th>
              <td cdk-cell *cdkCellDef="let element; let idx = index"> {{idx}} </td>
            </ng-container>
            <ng-container *ngFor="let disCol of excelTransformNum | slice:1 ;let colIndex = index ;"
              cdkColumnDef="{{disCol}}">
              <th cdk-header-cell *cdkHeaderCellDef> {{disCol}} </th>
              <td cdk-cell *cdkCellDef="let element"> {{ element[disCol]}} </td>
            </ng-container>
          </table>
      </div>
    </div>
  </div>